@use "functions" as *;

// Font family
$primary-font: Roboto;

// Breakpoints
$medium: 768px;
$extra-large: 1200px;
$mobile: calc($medium - 1px);
$tablet: calc($extra-large - 1px);

// Colors
$primary-color: #ebcb80;
$background-color: #ffffff;
$text-color: #4b4b4b;
$main-spacing: pxToRem(-0.58);
