<main>
    <!-- What client saying -->
    <section class="container container-clients">
      <div class="clients">
        <div class="clients-head">
          <p class="clients-title">What Clients are saying</p>
          <span class="clients-quotation">“</span>
        </div>
  
        <div class="clients-slider">
          <div class="clients-slider_icon">
            <img
              src="../assets/icons/prev-icon.svg"
              alt="prev"
              class="img-slider"
            />
          </div>
  
          <p class="clients-slider_content">
            Businesses at present had creatively generated effective advertising
            campaigns in the form of audio visual media that includes the
            television and radios and the print media that cover the newspaper and
            campaign materials like the posters, brochures, business cards, flyers
            and many more.
          </p>
  
          <div class="clients-slider_icon">
            <img
              src="../assets/icons/next-icon.svg"
              alt="next"
              class="img-slider"
            />
          </div>
        </div>
  
        <div class="clients-person">
          <img src="../assets/images/desktop/person.png" class="img-person" />
          <div class="clients-person_contact">
            <p class="person-name">Ophelia Holland</p>
            <p>@ophelia_holland</p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Get In touch -->
  <section class="contact">
    <div class="contact-content">
      <h2 class="contact-content_title">Get in touch</h2>

      <form class="contact-content_form">
        <input type="text" value="Name*" required class="form_input" />
        <input type="email" value="Email*" required class="form_input" />
        <textarea
          type="text"
          class="form_input"
          rows="5"
          cols="30"
          placeholder="Message"
        ></textarea>
        <div class="form_checkbox">
          <input type="checkbox" id="urgent" class="checkbox_input" />
          <label for="urgent" class="checkbox_label"
            >Most Urgent Question</label
          >
        </div>
        <input type="text" value="SUBMIT" required class="form_btn" />
      </form>

      <div class="contact-content_info">
        <div class="info-list">
          <img
            src="../assets/icons/location.svg"
            alt="location"
            class="info-list_icon"
          />
          <p class="info-list_des">
            2300 W Arbutus Dr Citrus Springs, FL 34434, USA
          </p>
        </div>
        <div class="info-list">
          <img
            src="../assets/icons/mail.svg"
            alt="location"
            class="info-list_icon"
          />
          <p class="info-list_des">contact@hofmannui.net</p>
        </div>
        <div class="info-list">
          <img
            src="../assets/icons/phone.svg"
            alt="location"
            class="info-list_icon"
          />
          <p class="info-list_des">952-775-6021</p>
        </div>
      </div>
    </div>
  </section>
</main>
