<main>
    <!-- What client saying -->
    <section class="container container-clients">
      <div class="clients">
        <div class="clients-head">
          <p class="clients-title">What Clients are saying</p>
          <span class="clients-quotation">“</span>
        </div>
  
        <div class="clients-slider">
          <div class="clients-slider_icon">
            <img
              src="../assets/icons/prev-icon.svg"
              alt="prev"
              class="img-slider"
            />
          </div>
  
          <p class="clients-slider_content">
            Businesses at present had creatively generated effective advertising
            campaigns in the form of audio visual media that includes the
            television and radios and the print media that cover the newspaper and
            campaign materials like the posters, brochures, business cards, flyers
            and many more.
          </p>
  
          <div class="clients-slider_icon">
            <img
              src="../assets/icons/next-icon.svg"
              alt="next"
              class="img-slider"
            />
          </div>
        </div>
  
        <div class="clients-person">
          <img src="../assets/images/desktop/person.png" class="img-person" />
          <div class="clients-person_contact">
            <p class="person-name">Ophelia Holland</p>
            <p>@ophelia_holland</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Start Selling Instantly -->
     <section class="start-selling">
        <span class="start-selling_title">Start Selling Instantly</span>
        <p class="start-selling_sub">Start Selling With Your Pre-paid account. No deposit needed.</p>

        <form class="start-selling_form">
            <input 
            type="email"
            class="start-selling_input"
            placeholder="Email"
            />
            <input type="submit" class="start-selling_btn" value="REGISTER"/>
        </form>
     </section>
</main>
